.venv/
build/
dist/
site/
*.egg-info/
__pycache__/
.ipynb_checkpoints/
*.pyc
config.json
runs/
results/
*-results/
models/*/
*.log
.DS_Store
*.[pP][dD][fF]
/local todo.md
.tox/
.pytest_cache/
.coverage*
coverage.json
coverage.xml
htmlcov/
badge-output/
!tests/data/pdfs/Young_2008.pdf
!tests/data/pdfs/Vander_2016.pdf
